<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TimerInterval" value="86400000" />
    <!-- Interval for Service in MS -->
    <add key="ShaderCache" value="31 00" />
    <!-- 32 00 = ON | 31 00 = AMD Optimized | 30 00 == OFF | NO VALUE (default) -->
    <add key="EnableUlps" value="0" />
    <!-- 0 = disable ULPS | 1 = enable ULPS (default) -->
    <add key="OverlayTestMode" value="5" />
    <!-- 5 = MPO fix ON | NO VALUE (default) -->
    <add key="TdrDelay" value="10" />
    <!-- 10 = 10 seconds of TDR delay | 5 = 5 seconds of TDR delay (default) -->
    <add key="TdrLevel" value="0" />
    <!-- 0 = TdrLevelOff | 1 = TdrLevelBugcheck | 2 = TdrLevelRecoveryVGA | 3 = TdrLevelRecover | NO VALUE (default)-->
    <add key="HwSchMode" value="2" />
    <!-- 1 = HAGS Fix enabled | 2 = HAGS Fix disabled (default) -->
    <add key="OverlayMinFPS" value="0" />
    <!-- 0 = Unlimited FPS for Overlays | NO VALUE (default) -->
    <add key="DisableOverlays" value="0" />
    <!-- 1 = Disable Overlays | NO VALUE (default) -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>